body {
  /*overflow-y: hidden;*/
}

/* push footer to bottom of page */
#root {
  /* the entire page must always span the entire window, in height */
  min-height: 100vh;
  display: flex;
  /* header, main and footer will be stacked vertically,
   which is what we want in a normal page.

   This is what we get:

     header
     ------
     main
     -------
     footer

    instead of:

      header | main | footer
    */
  flex-direction: column;
}


header {
  /* the navbar stays at the top */
  position: fixed;
  /* the navbar spans the entire window width */
  min-width: 100%;
  z-index: 9999;
}

main {
  flex-grow: 1;
  /* this controls how much the main page content
  should be distanced from the header/navbar.
  this number must match exactly the navbar height
   and must be calculated "manually" */
  margin-top: 55px;
}

/* the only container in the main */
/* we want it to span the entire space when
we take out header and footer */
main > * {
  /*display: flex;*/
  /*flex-grow: 1;*/
  /*flex-direction: column;*/
}

/* the only row in th only container in the main */
/* we expand it vertically */
main > * > * {
  flex-grow: 1;
}

#sidebar {
  /*flex-grow: 1;*/
  background-color: gray;
  /*we substract the header/navbar height */
  height: calc(100vh - 50px);
  padding: 0;
  margin: 0;
  position: fixed;
  width: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

#page {
  /*flex-grow: 9;*/
}

#page-without-sidebar {

  /*min-height: calc(100vh - 61px);*/

  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#footer {
  height: 50px;
}


.has-sidebar {
  margin-left: 150px;
  width: calc(100% - 150px);
}
